{% extends 'layout.html'%}
{% block content %}
<section id="banner" style="height: 50px;" padding="3em;">
</section>
<h1>아이디 찾기</h1>
<table style="width: 300px; height: 100px;">
<tr style="margin-top: 20px;">
    <td height="35" bgcolor="whitesmoke" align="right">이름</td>
    <td style="display: flex;">
        <input type="text" name="username" id="username"
            style="width: 150px; height: 20px; margin-right: 20px; margin-left: 20px; 
            border: 2px solid red; /* 외각선 두께와 색상 설정 */"
            maxlength="15" />
    </td>
</tr>
<tr>
    <td height="35" bgcolor="whitesmoke" align="right">생년월일</td>
    <td>
        <input type="date" name="userBirthdate" id = "userBirthdate" style="margin-left: 20px;">
    </td>
</tr>
<tr>
    <td>
    <button id="checkButton" style="font-size: 13px;">찾기</button>
    </td>
</tr>
    </table>
    <div id="result" style="margin-left: 13px; height: 25px;"> 
    </div>

    <script>
        document.getElementById('checkButton').addEventListener('click', () => {
            const username = document.getElementById('username').value;
            const userBirthdate = document.getElementById('userBirthdate').value;
            fetch('/user/searchUserId', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ username, userBirthdate}),
            })
                .then((response) => response.json())
                .then((data) => {
                    const resultDiv = document.getElementById('result');
                    if (data.error) {
                        resultDiv.innerHTML = `<p>${data.error}</p>`;
                    } else {
                        resultDiv.innerHTML = `<p>${data.message}</p>`;
                    }
                })
                .catch((error) => console.error(error));
        });
    </script>
    <hr>
    <hr>
    <hr>
    <h1>비밀번호 재설정</h1>
    <table style="width: 300px; height: 100px;">
    <tr style="margin-top: 20px;">
        <td height="35" bgcolor="whitesmoke" align="right">아이디</td>
        <td style="display: flex;">
            <input type="text" name="userId" id="userId"
                style="width: 150px; height: 10px; margin-right: 10px; margin-left: 20px;
                border: 2px solid red; /* 외각선 두께와 색상 설정 */"
                maxlength="15" />
        </tr>
        <tr>
    <td height="35" bgcolor="whitesmoke" align="right">이름</td>
    <td style="display: flex;">
        <input type="text" name="username" id="username_pw"
            style="width: 150px; height: 20px; margin-right: 20px; margin-left: 20px;
            border: 2px solid red; /* 외각선 두께와 색상 설정 */"
            maxlength="15" />
    </td>
    </tr>
    <tr>
    <td height="35" bgcolor="whitesmoke" align="right">생년월일</td>
    <td>
        <input type="date" name="userBirthdate" id = "userBirthdate_pw" style="margin-left: 20px;">
    </td>
    </tr>
    <tr>
        <td height="60" bgcolor="whitesmoke" align="right" name="userPw">새로운 비밀번호</td>
        <td bgcolor="whitesmoke">
            <input type="password" name="userPw" id = "newPw" maxlength = "15" style="width: 150px; height: 10px; margin-left: 20px;
            border: 2px solid red; /* 외각선 두께와 색상 설정 */">
        </td>
    </tr>
    <tr>
        <td>
    <button id="pwButton" style="font-size: 13px;">비밀번호 재설정</button>
    <div id="result" style="margin-left: 13px; height: 25px;">
    </td>
    </tr>
    </table>
    </div>

    <script>
        document.getElementById('pwButton').addEventListener('click', () => {
            const userId = document.getElementById('userId').value;
            const username = document.getElementById('username_pw').value;
            const userBirthdate = document.getElementById('userBirthdate_pw').value;
            const userPw = document.getElementById('newPw').value;

            fetch('/user/pwReset', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ userId,username, userBirthdate,userPw}),
            })
                .then((response) => response.json())
                .then((data) => {
                    const resultDiv = document.getElementById('result2');
                    if (data.error) {
                        resultDiv.innerHTML = `<p>${data.error}</p>`;
                    } else {
                        resultDiv.innerHTML = `<p>${data.message}</p>`;
                    }
                })
                .catch((error) => console.error(error));
        });
    </script>
    <div id="result2"></div>


{%endblock%}