{% extends 'layout.html'%}

{% block content %}
<!-- Banner -->
<div>
	<section id="banner">
		<div class="inner">

			<header>
				<h2>스마트체어</h2>
			</header>
			<p>
				<strong>제품설명(간단)</strong>
			</p>
			<footer>
				<ul class="buttons stacked">
					<li><a href="/join" class="button fit scrolly">회원가입</a></li>
				</ul>
			</footer>
		</div>
	</section>

<!-- Main -->
	<article id="main">

		<header class="special container">
			<span class="icon solid fa-chart-bar"></span>
			<h2>척추를구해조팀소개</h2>
		</header>

		<!-- One -->
			<section class="wrapper style2 container special-alt">
				<div class="row gtr-50">
					<div class="col-8 col-12-narrower">

						<header>
							<h2>제품상세설명</h2>
						</header>
						<p>
							제품상세설명내용
							<br/>
							<br/>
							<br/>
							<br/>
							<br/>
						</p>
						<footer>
							<ul class="buttons">
								<li><a href="/join" class="button">회원가입</a></li>
							</ul>
						</footer>

					</div>
					<div class="col-4 col-12-narrower imp-narrower">

						<ul class="featured-icons">
							<li><span class="icon fa-clock"><span class="label">Feature 1</span></span></li>
							<li><span class="icon solid fa-volume-up"><span class="label">Feature 2</span></span></li>
							<li><span class="icon solid fa-laptop"><span class="label">Feature 3</span></span></li>
							<li><span class="icon solid fa-inbox"><span class="label">Feature 4</span></span></li>
							<li><span class="icon solid fa-lock"><span class="label">Feature 5</span></span></li>
							<li><span class="icon solid fa-cog"><span class="label">Feature 6</span></span></li>
						</ul>

					</div>
				</div>
			</section>

		<!-- Two -->
			<section class="wrapper style1 container special">
				<div class="row">
					<div class="col-4 col-12-narrower">

						<section>
							<span class="icon solid featured fa-check"></span>
							<header>
								<h3>이런분들에게 추천합니다.</h3>
							</header>
							<p></p>
						</section>

					</div>
					<div class="col-4 col-12-narrower">

						<section>
							<span class="icon solid featured fa-check"></span>
							<header>
								<h3>이런분들에게 추천합니다.</h3>
							</header>
							<p></p>
						</section>

					</div>
					<div class="col-4 col-12-narrower">

						<section>
							<span class="icon solid featured fa-check"></span>
							<header>
								<h3>이런사람에게 추천3</h3>
							</header>
							<p></p>
						</section>

					</div>
				</div>
			</section>

		<!-- Three -->
			<section class="wrapper style3 container special">

				<header class="major">
					<h1><strong>건강 생활 지식</strong></h1>
				</header>

				<div class="row">
					<div class="col-6 col-12-narrower">

						<section>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" style="height: 270px;"/></a>
							<header>
								<h3>거북목 증후군 스트레칭 운동</h3>
							</header>
							<p>거북목 증후군 스트레칭 운동</p>
						</section>

					</div>
					<div class="col-6 col-12-narrower">

						<section>
							<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" style="height: 270px;"/></a>
							<header>
								<h3>목갈비근 이완 운동</h3>
							</header>
							<p>목갈비근 이완 운동</p>
						</section>

					</div>
				</div>
				<div class="row">
					<div class="col-6 col-12-narrower">

						<section>
							<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
							<header>
								<h3>Hyperspace Travel</h3>
							</header>
							<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
						</section>

					</div>
					<div class="col-6 col-12-narrower">

						<section>
							<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
							<header>
								<h3>And Another Train</h3>
							</header>
							<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
						</section>

					</div>
				</div>

				<footer class="major">
					<ul class="buttons">
						<li><a href="/info" class="button">건강생활지식 페이지</a></li>
					</ul>
				</footer>

			</section>

	</article>
</div>
{% endblock %}