{% extends 'layout.html'%}

{% block content %}
<section id="banner" style="height: 50px;" padding="3em;">
    <h1 style="font-size: 40px;">마이페이지</h1>
</section>
<h1>회원정보</h1>
<form action="/upmypage" method="post">
    <Form>
        <table style="width: 500px">
            <tr>
                <td>ID</td>
                <td>{{obj.userId}}</td>
            </tr>
            <tr>
                <td>이름</td>
                <td>{{obj.userName}} </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{obj.userEmail}}</td>
            </tr>
            <tr>
                <td>성별</td>
                <td>
                    {% if obj.userGender == 'm' %}
                    <span>남자</span>
                    {%else%}
                    <span>여자</span>
                    {%endif%}
                </td>
            </tr>
            <tr>
                {%set korea = obj.userBirthdate%}
                <td>생일</td>
                <td>{{obj.userBirthdate}}</td>
                <script>
               </script>
                <td><p id="output"></p></td>
            </tr>
            <tr>
                <td>몸무게</td>
                <td>{{obj.userWeight}}kg</td>
            </tr>
            <tr>
                <td>키</td>
                <td>{{obj.userHeight}}cm</td>
            </tr>
            <tr>
                <td>가입일자</td>
                <td>{{obj.createdAt}}</td>
            </tr>
        </table>
    </Form>
        <td>
            <button onclick="redirectToPage(1)">회원정보수정</button>
            <button onclick="redirectToPage(2)">회원탈퇴</button>
            <script>
                function redirectToPage(buttonId) {
                let targetPage = '/pwCheck';
                if (buttonId === 1) {
                    targetPage += '?button=1';
                } else if (buttonId === 2) {
                    targetPage += '?button=2';
                }
                window.location.href = targetPage;
                }
            </script>
        </td>
</form>
{%endblock%}