{% extends 'layout.html'%}

{% block content %}
<section id="banner" style="height: 50px;" padding="3em;">
    <h1 style="font-size: 40px;">회원탈퇴 확인절차</h1>
</section>
<form action="/user/delete" method="post" style="width: 500px;height: 500px;">
<tr style="width: 200px; height: 200px;">
    <td>회원탈퇴 확인</td>
    <td style = "width: 100px;height: 100px;" bgcolor="whitesmoke" align="right" name="userPw">비밀번호</td>
    <td bgcolor="whitesmoke">
        <input type="password" name="userPw" maxlength="8" style="width: 150px; height: 50px; margin-left: 30px;">
        <input type="submit">
    </td>
</tr>
</form>
    
{%endblock%}