{% extends 'layout.html' %}

{% block content %}


<section id="banner" style="height: 50px; padding: 3em;">
    <h1 style="font-size: 40px; color: #524d58;">사용자 통계</h1>
</section>
<!DOCTYPE html>
<html>

<head>

    <title>유저 통계 페이지</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <style>
        .container {
            margin-top: 3%;
            width: 80%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .content {
            min-height: 500px;
            width: 48%;
            margin: 10px;
            padding: 0px 15px;
            border: 5px solid #a3a0d5;
            border-radius: 20px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        }

        .top_text,
        .text {
            margin-top: 10px;
            text-align: center;
            font-size: larger;
            font-weight: bold;
            background: #43419696;
            background-size: 200% 150%;
            padding: 10px 0;
            border-radius: 15px;
            color: white;
        }

        .top_text {
            margin-top: 10px;
        }

        table {
            width: 100%;
            margin: 30px auto 0px;
            border-collapse: collapse;
            vertical-align: middle;
        }

        tr:nth-child(2n) {
            background: #c9c9c996;
            background-size: 150% 150%;
        }

        tr:nth-child(odd) {
            background-size: 150% 150%;
        }

        th,
        td {
            border-bottom: 1px solid rgb(173, 173, 156);
            padding: 5px 10px;
            font-weight: bolder;
        }

        .half-width {
            width: 48%;
        }

        .adfont {
            font-size: larger;
            font-weight: bolder;
        }
    </style>
</head>

<body>
    <div id="sensorCountResult"></div>

    <div class="container">
        <div id="FONTALL"
            style="margin: 10px; padding: 10px 15px; border: 5px solid #a3a0d5; 
            border-radius: 20px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); display: flex; justify-content: center; width: 100%;">
            <label style="font-size: large; padding: 10px 8px 0px;" for="date">날짜 선택 :</label>
            <input type="date" id="date" name="date" style="padding: 0px 5px;">
            <button id="submitDate">확인</button>
            <br>
            <div style="align-items:unset">
                <p id="selectedDate" style="opacity: 0.0;"></p>
            </div>
        </div>
        <div id="FONTALL" class="content">
            <p class="text">체형 분석</p>
            <p id="bmiResult"></p>
            <canvas id="pie-chart" style="width: auto; height: auto;"></canvas>
        </div>

        <div class="content">
            <p style="height: 50px;" class="text"> 체형 조언</p>
            <p class="text" style="background-color: beige; color: #524d58; font-size: medium;">양반다리 자세가 지속될 시 생기는 질병
            </p>

            <div id="FONTALL" class="advice" style="margin-top: 70px;">
                <tr>
                    <th class="adfont">✔️ 신경학적 문제</th>
                </tr>
                <tr>
                    <td>양반다리 자세로 앉은 동안 신경에 압력이 가해질 수 있으며, 이로 인해 통증, 저림, 무감각과 같은 신경학적 문제가 발생할 수 있습니다.</td>
                </tr>
                <br /><br />
                <tr>
                    <th class="adfont">✔️ 근육 및 척추 문제</th>
                </tr>
                <tr>
                    <td>양반다리 자세는 척추와 하체 근육에 부담을 줄 수 있으며, 척추 통증 및 근육 긴장을 초래할 수 있습니다.</td>
                </tr>
                <br /><br />
                <tr>
                    <th class="adfont">✔️ 관절 문제</th>
                </tr>
                <tr>
                    <td>다리를 교차하는 동안 관절에 압력이 가해질 수 있으며, 관절 통증 또는 퇴행성 관절질환의 위험이 증가할 수 있습니다.</td>
                </tr>
            </div>
            <p class="text"
                style="background-color: beige; color: #524d58; font-size: medium; text-align: left; margin-top: 70px;">
                양반다리 자세는 휴식 시간이나 짧은 기간에 사용할 수는 있지만, 오랜 시간 동안 이 자세를 유지하는 것은 건강에 부정적인 영향을 미칠 수 있으므로 권장되지 않습니다. 건강을 유지하려면
                자주 자세를 바꾸고, 일어나 움직이며 스트레칭을 통해 몸을 풀어주는 것이 중요합니다.
            </p>
        </div>

        <div class="content">
            <p class="text">사용자 통계</p>
            <table>
                <tr>
                    <th>오늘 총 앉은 시간:</th>
                    <td id="totalsit">0</td>
                </tr>
                <tr>
                    <th>가장 많이 앉은 자세:</th>
                    <td id="longtimesit">0</td>
                </tr>
                <tr>
                    <th>바른 자세로 앉은 시간:</th>
                    <td id="correctsit">0</td>
                </tr>
                <tr>
                    <th>잘못된 자세로 앉은 시간:</th>
                    <td id="wrongsit">0</td>
                </tr>
                <tr>
                    <th>왼쪽으로 치우쳐져 앉은 시간:</th>
                    <td id="leftsit">0</td>
                </tr>
                <tr>
                    <th>오른쪽으로 치우쳐져 앉은 시간:</th>
                    <td id="rightsit">0</td>
                </tr>
                <tr>
                    <th>앞으로 목이빠져 앉은 시간:</th>
                    <td id="turtlesit">0</td>
                </tr>
                <tr>
                    <th>뒤로 기대앉은 시간:</th>
                    <td id="bentsit">0</td>
                </tr>
                <tr>
                    <th>압력분포가 불균형한 시간:</th>
                    <td id="unflatsit">0</td>
                </tr>
                <tr>
                    <th>Daily 누적 경고:</th>
                    <td>0</td>
                </tr>
                <tr>
                    <th>최근 경고 시간:</th>
                    <td>0</td>
                </tr>
            </table>
        </div>
    </div>

    <script>
        document.getElementById("submitDate").addEventListener("click", () => {
            event.preventDefault();
            const selDate = document.getElementById('date').value;
            document.getElementById("selectedDate").textContent = selDate; // 선택한 날짜로 업데이트

            // 서버로 POST 요청을 보내서 사용자 통계 데이터 가져오기
            fetch('/statistics/userstatistics', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ selDate }),
            })
                .then(response => response.json())
                .then(data => {
                    // 통계 데이터를 받아온 후 그래프를 업데이트
                    updatePieChart(data.postureCounts);
                })
                .catch((error) => console.error(error));

            // 버튼을 클릭했을 때 페이지가 맨 위로 스크롤되지 않도록
            return false;
        });
        // 시간 변환 함수
        function formatTime(timeInSeconds) {
            const hours = Math.floor(timeInSeconds / 3600);
            const minutes = Math.floor((timeInSeconds % 3600) / 60);
            const seconds = timeInSeconds % 60;
            return `${hours}시간 ${minutes}분 ${seconds}초`;
        }

        // 현재 날짜를 가져오기
        const currentDate = new Date();

        // 날짜 입력란에 날짜 설정
        document.getElementById('date').valueAsDate = currentDate;

        // 사용자가 날짜를 선택하고 확인 버튼을 누를 때 실행되는 함수
        function updatePieChart(postureCounts) {
            const correct = postureCounts['correct'] || 0;
            const left = postureCounts['left'] || 0;
            const right = postureCounts['right'] || 0;
            const turtle = postureCounts['turtle'] || 0;
            const bent = postureCounts['bent'] || 0;
            const unflat = postureCounts['unflatsit'] || 0;
            const wrongsit = left + right + turtle + bent + unflat;
            const totalsit = correct + wrongsit;

            // 배열로 변수들을 저장하여 Math.max() 함수로 최대값을 찾습니다.
            const counts = [correct, left, right, turtle, bent, unflat];
            const longtimesit = Math.max(...counts);

            // 각 섹션의 데이터를 업데이트
            document.getElementById('correctsit').textContent = formatTime(correct);
            document.getElementById('leftsit').textContent = formatTime(left);
            document.getElementById('rightsit').textContent = formatTime(right);
            document.getElementById('turtlesit').textContent = formatTime(turtle);
            document.getElementById('bentsit').textContent = formatTime(bent);
            document.getElementById('unflatsit').textContent = formatTime(unflat);
            document.getElementById('wrongsit').textContent = formatTime(wrongsit);
            document.getElementById('totalsit').textContent = formatTime(totalsit);

            // 원형 그래프를 업데이트
            updateDoughnutChart(correct, wrongsit);
        }

        function updateDoughnutChart(correct, wrongsit) {
            var data = {
                labels: ["바른 자세로 앉은 시간", "잘못된 자세로 앉은 시간"],
                datasets: [{
                    data: [correct, wrongsit],
                    backgroundColor: ["#36A2EB", "#FFCE56"]
                }]
            };

            var ctx = document.getElementById('pie-chart').getContext('2d');
            if (window.pieChart) {
                window.pieChart.destroy();
            }
            window.pieChart = new Chart(ctx, {
                type: 'doughnut',
                data: data,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            display: true
                        },
                        tooltips: {
                            callbacks: {
                                label: function (tooltipItem, data) {
                                    var dataset = data.datasets[tooltipItem.datasetIndex];
                                    var value = dataset.data[tooltipItem.index];
                                    var label = data.labels[tooltipItem.index];
                                    return label + ': ' + value + '분';
                                }
                            }
                        }
                    }
                }
            });
        }

    </script>



</body>

</html>
{% endblock %}