{% extends 'layout.html' %}

{% block content %}


<section id="banner" style="height: 50px; padding: 3em;">
    <h1 style="font-size: 40px; color: #524d58;">사용자 통계</h1>
</section>
<!DOCTYPE html>
<html>

<head>

    <title>유저 통계 페이지</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <style>
        .container {
            margin-top: 3%;
            width: 80%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .content {
            min-height: 500px;
            width: 48%;
            margin: 10px;
            padding: 0px 15px;
            border: 5px solid #a3a0d5;
            border-radius: 20px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        }

        .top_text,
        .text {
            margin-top: 10px;
            text-align: center;
            font-size: larger;
            font-weight: bold;
            background: #43419696;
            background-size: 200% 150%;
            padding: 10px 0;
            border-radius: 15px;
            color: white;
        }

        .top_text {
            margin-top: 10px;
        }

        table {
            width: 100%;
            margin: 30px auto 0px;
            border-collapse: collapse;
            vertical-align: middle;
        }

        tr:nth-child(2n) {
            background: #c9c9c996;
            background-size: 150% 150%;
        }

        tr:nth-child(odd) {
            background-size: 150% 150%;
        }

        th,
        td {
            border-bottom: 1px solid rgb(173, 173, 156);
            padding: 5px 10px;
            font-weight: bolder;
        }

        .half-width {
            width: 48%;
        }

        .adfont {
            font-size: larger;
            font-weight: bolder;
        }
    </style>
</head>

<body>
    <div id="sensorCountResult"></div>

    <div class="container">
        <div id="FONTALL"
            style="margin: 10px; padding: 10px 15px; border: 5px solid #a3a0d5; 
            border-radius: 20px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); display: flex; justify-content: center; width: 100%;">
            <label style="font-size: large; padding: 10px 8px 0px;" for="date">날짜 선택 :</label>
            <input type="date" id="date" name="date" style="padding: 0px 5px;">
            <button id="submitDate">확인</button>
            <br>
            <div style="align-items:unset">
                <p id="selectedDate" style="opacity: 0.0;"></p>
            </div>
        </div>
        <div id="FONTALL" class="content">
            <p class="text">체형 분석</p>
            <p id="bmiResult"></p>
            <canvas id="pie-chart" style="width: auto; height: auto;"></canvas>
        </div>

        <div class="content" data-section="1">
            <p style="height: 50px;" class="text"> 체형 조언</p>
            <p class="text" style="background-color: beige; color: #524d58; font-size: medium;">다리를 꼬아 한쪽으로 치우쳐진 자세가
                지속되면 생기는 문제
            </p>

            <div id="FONTALL" class="advice" style="margin-top: 70px;">
                <tr>
                    <th class="adfont">✔️ 신경학적 문제 :</th>
                </tr>
                <tr>
                    <td> 다리를 꼰 자세로 앉아 있는 동안 신경에 압력이 가해져 통증, 저림, 무감각과 같은 신경학적 문제가 발생할 수 있습니다.</td>
                </tr>
                <br /><br />
                <tr>
                    <th class="adfont">✔️ 무릎 및 체형불균형 :</th>
                </tr>
                <tr>
                    <td>장기적으로 다리를 꼰 자세로 앉는 것은 무릎의 근육, 인대 및 관절에 압력을 가하며, 관절 통증, 퇴행성 관절질환 등을 유발할 수 있습니다.</td>
                </tr>
                <br /><br />
                <tr>
                    <th class="adfont">✔️ 발생할 수 있는 병명 : </th>
                </tr>
                <tr>
                    <td>자세가 지속되어 고착화 되면 척추 측만증 ,골반 뒤틀림이 발생할 수 있습니다. </td>
                </tr>
            </div>
            <p class="text"
                style="background-color: beige; color: #524d58; font-size: medium; text-align: left; margin-top: 70px;">
                따라서, 가능한 한 다리를 꼰 자세로 오랜 시간 동안 앉는 것을 피하고, 규칙적으로 몸을 움직이며 스트레칭을 통해 건강을 지키는 것이 중요합니다.
            </p>
        </div>
        <div data-section="0"></div>
        <div class="content" data-section="2">
            <p style="height: 50px;" class="text"> 체형 조언</p>
            <p class="text" style="background-color: beige; color: #524d58; font-size: medium;"> 뒤로 누워 기댄 자세가 지속될 시 생기는
                문제
            </p>

            <div id="FONTALL" class="advice" style="margin-top: 70px;">
                <tr>
                    <th class="adfont">✔️ 신경학적 문제 :</th>
                </tr>
                <tr>
                    <td>몸의 무게가 척추 에게만 압력이 가해져 신경이 눌려 통증, 저림 또는 무감각을 유발할 수 있습니다.</td>
                </tr>
                <br /><br />
                <tr>
                    <th class="adfont">✔️ 근육 및 척추 문제 :</th>
                </tr>
                <tr>
                    <td>뒤로 누워 앉는 자세로 시간을 오래 지속하면 척추로만 몸무게를 지탱하기 떄문에 다른부위의 근육들은 약화되어 퇴행성 질환이 찾아올 수 있습니다.</td>
                </tr>
                <br /><br />
                <tr>
                    <th class="adfont">✔️ 발생할 수 있는 질병 : </th>
                </tr>
                <tr>
                    <td>해당 자세가 지속되어 고착화 될 경우 대표적으로 굽은등과 같은 문제가 발생할 수 있으며 몸 전체적으로 근육들이 약화되기 때문에 다른 자세에서 나타날 수 있는 질병 모두 조심
                        하여야 합니다.</td>
                </tr>
            </div>
            <p class="text"
                style="background-color: beige; color: #524d58; font-size: medium; text-align: left; margin-top: 70px;">
                따라서, 뒤로 누워서 앉은 자세는 주로 휴식을 취할 때 사용하고, 일상적으로는 규칙적으로 움직이고 몸을 지탱하는 자세를 유지하는 것이 좋습니다.
                만약 자세를 유지하는 것이 필요한 특별한 상황이 있다면, 적절한 쿠션 또는 베개를 활용하여 몸에 부담이 가지 않도록 주의해야 합니다.
            </p>
        </div>

        <div class="content" data-section="3">
            <p style="height: 50px;" class="text"> 체형 조언</p>
            <p class="text" style="background-color: beige; color: #524d58; font-size: medium;">앞으로 몸을 기울인 자세가 지속될 시 생기는
                문제
            </p>

            <div id="FONTALL" class="advice" style="margin-top: 70px;">
                <tr>
                    <th class="adfont">✔️ 척추 문제 :</th>
                </tr>
                <tr>
                    <td>앞으로 기울여 앉은 자세로 오랜 시간을 유지하면 척추에 부담이 가해 척추 및 목의 굴곡이 변형될 수 있으며, 척추 통증 및 척추질환의 위험이 증가할 수 있습니다.</td>
                </tr>
                <br /><br />
                <tr>
                    <th class="adfont">✔️ 근육 문제 :</th>
                </tr>
                <tr>
                    <td> 이 자세로 앉는 동안 일부 근육이 지속적으로 긴장되며 일부 근육은 지속적으로 늘어나 승모근 뭉침과 어깨관절 통증과 긴장성 두통의 발생 가능성이 증가할 수 있습니다.
                    </td>
                </tr>
                <br /><br />
                <tr>
                    <th class="adfont">✔️ 발생할 수 있는 질병 : : </th>
                </tr>
                <tr>
                    <td>해당 자세가 지속되어 고착화 될 경우 대표적으로 거북목과 굽은등 같은 문제가 발생할 수 있으며 몸 전체적으로 근육들이 약화되기 때문에 다른 자세에서 나타날 수 있는 질병
                        모두 조심 하여야 합니다.</td>
                </tr>
            </div>
            <p class="text"
                style="background-color: beige; color: #524d58; font-size: medium; text-align: left; margin-top: 70px;">
                해당 자세는 고착화되면 몸의 근육들을 약화시키고 질병을 초래할 가능성이 높습니다 의자와 컴퓨터의 모니터를 조절해 목이 바르게 펴질수 있도록하고 규칙적인 휴식과 스트레칭을 권장드립니다.
            </p>
        </div>


        <div class="content" data-section="4">
            <p style="height: 50px;" class="text"> 체형 조언</p>
            <p class="text" style="background-color: beige; color: #524d58; font-size: medium;">양반다리 자세가 지속될 시 생기는 질병
            </p>

            <div id="FONTALL" class="advice" style="margin-top: 70px;">
                <tr>
                    <th class="adfont">✔️ 신경학적 문제 :</th>
                </tr>
                <tr>
                    <td>양반다리 자세로 앉은 동안 신경에 압력이 가해질 수 있으며, 이로 인해 통증, 저림, 무감각과 같은 신경학적 문제가 발생할 수 있습니다.</td>
                </tr>
                <br /><br />
                <tr>
                    <th class="adfont">✔️ 근육 및 척추 문제 :</th>
                </tr>
                <tr>
                    <td>양반다리 자세는 척추와 하체 근육에 부담을 줄 수 있으며, 척추 통증 및 근육 긴장을 초래할 수 있습니다.</td>
                </tr>
                <br /><br />
                <tr>
                    <th class="adfont">✔️ 관절 문제 : </th>
                </tr>
                <tr>
                    <td>다리를 교차하는 동안 관절에 압력이 가해질 수 있으며, 관절 통증 또는 퇴행성 관절질환의 위험이 증가할 수 있습니다.</td>
                </tr>
            </div>
            <p class="text"
                style="background-color: beige; color: #524d58; font-size: medium; text-align: left; margin-top: 70px;">
                양반다리 자세는 휴식 시간이나 짧은 기간에 사용할 수는 있지만, 오랜 시간 동안 이 자세를 유지하는 것은 건강에 부정적인 영향을 미칠 수 있으므로 권장되지 않습니다. 건강을 유지하려면
                자주 자세를 바꾸고, 일어나 움직이며 스트레칭을 통해 몸을 풀어주는 것이 중요합니다.
            </p>
        </div>

        <div class="content">
            <p class="text">사용자 통계</p>
            <table>
                <tr>
                    <th>오늘 총 앉은 시간:</th>
                    <td id="totalsit">0</td>
                </tr>
                <tr>
                    <th>가장 많이 앉은 자세:</th>
                    <td id="longtimesit">0</td>
                </tr>
                <tr>
                    <th>바른 자세로 앉은 시간:</th>
                    <td id="correctsit">0</td>
                </tr>
                <tr>
                    <th>잘못된 자세로 앉은 시간:</th>
                    <td id="wrongsit">0</td>
                </tr>
                <tr>
                    <th>왼쪽으로 치우쳐져 앉은 시간:</th>
                    <td id="leftsit">0</td>
                </tr>
                <tr>
                    <th>오른쪽으로 치우쳐져 앉은 시간:</th>
                    <td id="rightsit">0</td>
                </tr>
                <tr>
                    <th>앞으로 목이빠져 앉은 시간:</th>
                    <td id="turtlesit">0</td>
                </tr>
                <tr>
                    <th>뒤로 기대앉은 시간:</th>
                    <td id="bentsit">0</td>
                </tr>
                <tr>
                    <th>압력분포가 불균형한 시간:</th>
                    <td id="unflatsit">0</td>
                </tr>
                <tr>
                    <th>Daily 누적 경고:</th>
                    <td>0</td>
                </tr>
                <tr>
                    <th>최근 경고 시간:</th>
                    <td>0</td>
                </tr>
            </table>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // 페이지가 완전히 로드되었을 때 실행될 코드
            
            // 모든 섹션 숨기기
            document.querySelectorAll('[data-section]').forEach(section => {
                section.style.display = 'none';
            });

            // 이벤트 리스너를 통해 나머지 JavaScript 코드 설정 및 이벤트 처리 가능
        });
        document.getElementById("submitDate").addEventListener("click", () => {
            event.preventDefault();
            const selDate = document.getElementById('date').value;
            document.getElementById("selectedDate").textContent = selDate; // 선택한 날짜로 업데이트

            // 서버로 POST 요청을 보내서 사용자 통계 데이터 가져오기
            fetch('/statistics/userstatistics', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ selDate }),
            })
                .then(response => response.json())
                .then(data => {
                    // 통계 데이터를 받아온 후 그래프를 업데이트
                    updatePieChart(data.postureCounts);
                })
                .catch((error) => console.error(error));

            // 버튼을 클릭했을 때 페이지가 맨 위로 스크롤되지 않도록
            return false;
        });
        // 시간 변환 함수
        function formatTime(timeInSeconds) {
            const hours = Math.floor(timeInSeconds / 3600);
            const minutes = Math.floor((timeInSeconds % 3600) / 60);
            const seconds = timeInSeconds % 60;
            return `${hours}시간 ${minutes}분 ${seconds}초`;
        }

        // 현재 날짜를 가져오기
        const currentDate = new Date();

        // 날짜 입력란에 날짜 설정
        document.getElementById('date').valueAsDate = currentDate;

        // 사용자가 날짜를 선택하고 확인 버튼을 누를 때 실행되는 함수
        function updatePieChart(postureCounts) {
            const correct = postureCounts['correct'] || 0;
            const left = postureCounts['left'] || 0;
            const right = postureCounts['right'] || 0;
            const turtle = postureCounts['turtle'] || 0;
            const bent = postureCounts['bent'] || 0;
            const unflat = postureCounts['unflatsit'] || 0;
            const wrongsit = left + right + turtle + bent + unflat;
            const totalsit = correct + wrongsit;

            // 배열로 변수들을 저장하여 Math.max() 함수로 최대값을 찾습니다.
            const counts = [correct, left, right, turtle, bent, unflat];
            const longtimesit = Math.max(...counts);

            // 각 섹션의 데이터를 업데이트
            document.getElementById('correctsit').textContent = formatTime(correct);
            document.getElementById('leftsit').textContent = formatTime(left);
            document.getElementById('rightsit').textContent = formatTime(right);
            document.getElementById('turtlesit').textContent = formatTime(turtle);
            document.getElementById('bentsit').textContent = formatTime(bent);
            document.getElementById('unflatsit').textContent = formatTime(unflat);
            document.getElementById('wrongsit').textContent = formatTime(wrongsit);
            document.getElementById('totalsit').textContent = formatTime(totalsit);
            let mostSatOnPosture = "바른 자세";
            let session = 0; // 초기값은 0
            if (longtimesit === correct) {
                session = 0;
            } else if (longtimesit === left) {
                session = 1; // left일 때도 1번0 세션을 렌더링
                mostSatOnPosture = "왼쪽으로 다리를 꼰 자세";
            } else if (longtimesit === right) {
                session = 1; // right일 때도 1번 세션을 렌더링
                mostSatOnPosture = "오른쪽으로 다리를 꼰 자세";
            } else if (longtimesit === turtle) {
                session = 3;
                mostSatOnPosture = "앞으로 목이 빠진 자세";
            } else if (longtimesit === bent) {
                session = 2;
                mostSatOnPosture = "뒤로 기대앉은 자세";
            } else if (longtimesit === unflat) {
                session = 4;
                mostSatOnPosture = "압력분포가 불균형한 자세";
            }
            document.getElementById('longtimesit').textContent = mostSatOnPosture;


            const sessionElement = document.querySelector(`[data-section="${session}"]`);
            if (sessionElement) {
                sessionElement.style.display = 'block'; // 선택된 세션을 보여줍니다.
            }
            
            // 원형 그래프를 업데이트
            updateDoughnutChart(correct, wrongsit);
        }

        function updateDoughnutChart(correct, wrongsit) {
            // 총 시간 계산
            const totalMinutes = correct + wrongsit;

            // 바른 자세로 앉은 시간 비율 계산
            const correctPercentage = (correct / totalMinutes) * 100;

            // 잘못된 자세로 앉은 시간 비율 계산
            const wrongsitPercentage = (wrongsit / totalMinutes) * 100;

            var data = {
                labels: ["바른 자세로 앉은 시간", "잘못된 자세로 앉은 시간"],
                datasets: [{
                    data: [correctPercentage, wrongsitPercentage],
                    backgroundColor: ["#36A2EB", "#FFCE56"]
                }]
            };

            var ctx = document.getElementById('pie-chart').getContext('2d');
            if (window.pieChart) {
                window.pieChart.destroy();
            }
            window.pieChart = new Chart(ctx, {
                type: 'doughnut',
                data: data,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            display: true
                        },
                        tooltips: {
                            callbacks: {
                                label: function (tooltipItem, data) {
                                    var dataset = data.datasets[tooltipItem.datasetIndex];
                                    var value = dataset.data[tooltipItem.index];
                                    var label = data.labels[tooltipItem.index];
                                    return label + ': ' + value.toFixed(2) + '%'; // 소수점 2자리까지 표시
                                
                                }
                            }
                        }
                    }
                }
            });
        }


    </script>



</body>

</html>
{% endblock %}