{% extends 'layout.html'%}

{% block content %}
<section id="banner" style="height: 50px;" padding="3em;">
    <h1 style="font-size: 40px; color: #524d58;">회원정보 수정</h1>
</section>

<div id="FONTALL" class="container">
    <form action="/user/updateuser" method="post">
        <table style="width: 500px; margin: 0 auto;">

            <tr style="height: 50px; background-color: #43419696;">
                <th colspan="2" style="text-align: center; vertical-align: middle;"><strong>회원정보 수정</strong></th>
            </tr>

            <tr>
                <td  bgcolor="whitesmoke" style="width: 30%; text-align: center;">ID</td>
                <td style="width: 70%;"><input type="text" value={{obj.userId}} name="upuserId" style="width: 100%;">
                </td>
            </tr>
            <tr>
                <td bgcolor="whitesmoke" style="width: 30%; text-align: center;">이름</td>
                <td style="width: 70%;"><input type="text" value={{obj.userName}} name="upuserName"
                        style="width: 100%;"></td>
            </tr>
            <tr>
                <td bgcolor="whitesmoke" style="width: 30%; text-align: center;">Email</td>
                <td style="width: 70%;"><input type="text" value={{obj.userEmail}} name="upuserEmail"
                        style="width: 100%;"></td>

            <tr>
                <td bgcolor="whitesmoke" style="width: 30%; text-align: center;">몸무게</td>
                <td style="width: 70%;"><input type="text" value={{obj.userWeight}} name="userWeight"
                        style="width: 100%;"></td>
            </tr>
            <tr>
                <td bgcolor="whitesmoke" style="width: 30%; text-align: center;">키</td>
                <td style="width: 70%;"><input type="text" value={{obj.userHeight}} name="userHeight"
                        style="width: 100%;"></td>
            </tr>
            <tr>
                <td colspan="2" style="width: 100%; text-align: center;">
                    <input type="submit" style="width: 30%;">
                </td>
            </tr>
        </table>



    </form>
</div>
{%endblock%}