{% extends 'layout.html'%}

{% block content %}
<section id="banner" style="height: 50px;" padding="3em;">
    <h1 style="font-size: 40px;">회원 정보 수정</h1>
</section>
<h1>11111</h1>
<form action="/user/updateuser" method="post">
    <table style="width: 500px">
        <tr>
            <td>ID</td>
            <td><input type="text" value={{obj.userId}} name="upuserId" style="width: 200px;"></td>
        </tr>
        <tr>
            <td>이름</td>
            <td><input type="text" value={{obj.userName}} name="upuserName" style="width: 200px;"></td>
        </tr>
        <tr>
            <td>Email</td>
            <!-- <td>{{obj.userEmail}}</td> -->
            <td><input type="text" value={{obj.userEmail}} name="upuserEmail" style="width: 200px;"></td>

        <tr>
            <td>몸무게</td>
            <td><input type="text" value={{obj.userHeight}} name="upuserHeight" style="width: 200px;"></td>
        </tr>
        <tr>
            <td>키</td>
            <td><input type="text" value={{obj.userWeight}} name="upuserWeight" style="width: 200px;"></td>
        </tr>
    </table>



<input type="submit">


</form>
{%endblock%}